@rapidcanvas:registry=https://us-central1-npm.pkg.dev/codilime-dev/rapidcanvas-npm/
registry=https://registry.yarnpkg.com
# Required to distinguish between public packages from rapidcanvas npm repo and yarn registry
