# OS
.DS_Store

# Large/binary files
*.zip
*.msg
*.mp4
*.mp3
video/

# Node
node_modules/
dist/

# Environment
.env
.env.*

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Excel temp files
~$*.xlsx
